/* button {display:block;} */
header {
    width: 100%;
}
header span {
    width: 14vw;
    display: inline-block
}
.trim {
    background: #7ac253;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-variant: small-caps;
    font-family: sans-serif;
    white-space: nowrap;
}
.fr {float: right;}
table {width: 100%;}
.best {
    font-weight: bold;
}
.tied {
    font-weight: bold;
    font-style: italic;
}
.popup {
    border: 1px solid;
    position: sticky;
    bottom: 300px;
    left: 200px;
    max-width: 1000px;
    min-height: 600px;
    min-width: 50vw;
    visibility: hidden;
    /* overflow-x: scroll; */
    background: white;
}

table.compare {
}
table.compare td {
    padding: 10px;
}

.left-to-right>li {
    display: inline-block;
    width: 200px;
}
.left-to-right {
    overflow-x: scroll;
    white-space: nowrap;
}
.related-items {
    position: absolute;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    bottom: 0;
}
span.price::before {
    content: "$";
}
.related-items * {
    white-space: normal;
}
/* .related-items img { */
/*     opacity: 0.5; */
/* } */
table.searchResults tr { height: 50px !important;}


img {
    width: 85px;
    height: 85px;
}
img.logo {
    width: auto;
    height: auto;
}
.related-items img:hover {
    width: 100px;
    height: 100px;
}
