input, button {display:block; }
table {
    width: 100%;
}
table.transposed thead {
    display: inline-block;
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
}
table.transposed tbody {
    display: inline-block;
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
}
table.transposed tr {
    display: inline-block;
    max-width: 100px;
    /* float: left; */
}
table.transposed tr {
    display: inline-block;
    max-width: 100px;
    /* float: left; */
}
table.transposed th { display: block; }
table.transposed td { display: block;
                      /* overflow-x: visible; */
                    }



.trim {
    background: #7ac253;
}
.fr {float: right;}
.left-to-right>li {
    display: inline-block;
    width: 200px;
}
.left-to-right {
    overflow-x: scroll;
    white-space: nowrap;
}
.popup {
    border: 1px solid;
    position: sticky;
    bottom: 300px;
    left: 200px;
    width: 500px;
    min-height: 35vh;
    visibility: hidden;
    /* overflow-x: scroll; */
    background: white;
}

table.searchResults tr { height: 50px !important;}
