button {display:block;}
.trim {
    background: #7ac253;
}
.fr {float: right;}
table {width: 100%;}

.popup {
    border: 1px solid;
    position: sticky;
    bottom: 300px;
    left: 200px;
    width: 500px;
    min-height: 45vh;
    min-width: 50vw;
    visibility: hidden;
    /* overflow-x: scroll; */
    background: white;
}

table.compare {
}
table.compare td {
    padding: 10px;
}

.left-to-right>li {
    display: inline-block;
    width: 200px;
}
.left-to-right {
    overflow-x: scroll;
    white-space: nowrap;
}
.related-items {
    position: absolute;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    bottom: 0;
}
span.price::before {
    content: "$";
}
.related-items * {
    white-space: normal;
}
table.searchResults tr { height: 50px !important;}
